body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

div {
    background: white;
    padding: 20px;
    width: 360px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

input[type="button"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-top: 15px;
}

input[type="button"]:hover {
    background-color: #0056b3;
}

/* ===== BOTTONE TEMA ===== */
button {
    display: block;
    margin: 10px auto 20px auto;
    padding: 8px 15px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}


/* ===== TRANSIZIONE MORBIDA ===== */
body, div, input, select, button {
    transition: background 0.3s, color 0.3s;
}


/* ===== DARK MODE ===== */
body.dark {
    background-color: #1e1e1e;
    color: white;
}

body.dark div {
    background: #2b2b2b;
}

body.dark h1 {
    color: white;
}


body.dark input,
body.dark select {
    background: #3a3a3a;
    color: white;
    border: 1px solid #666;
}

body.dark input[type="button"] {
    background-color: #4c8cff;
}

body.dark button {
    background-color: #4c8cff;
    color: white;
}

body.dark button:hover {
    background-color: #0066cc;
}
